@use '../styles/base';

.cursor {
	position: fixed;
	background-color: base.$orange;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
	backdrop-filter: blur(5px);
	transition: none;
	pointer-events: none;
	animation: backgroundAnimation 7s infinite;
	z-index: 2;
}

@keyframes backgroundAnimation {
	0% {
		background-color: base.$orange;
	}
	50% {
		background-color: base.$purple;
	}
	100% {
		background-color: base.$orange;
	}
}

.cursorText {
	position: fixed;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 1rem;
	color: white;
	transition: none;
	pointer-events: none;
	line-height: 1.2rem;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 2;
}

@media screen and (max-width: 1024px) {
	.cursor,
	.cursorText {
		display: none;
	}
}
