@use '../styles/base';

.cursor {
	position: fixed;
	width: 2rem;
	height: 2rem;
	background-color: base.$orange;
	// background-color: white;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
	backdrop-filter: blur(2px);

	transition: none;
	pointer-events: none;
}
